*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,li{
    list-style-type: none;
}

:root{
    --Brand_color : #1BBF00;
    --hover_color : #6B62C5;
    --primary_font :'Open Sans', sans-serif;
    --secondary_font : 'Paprika', cursive;
}

/* ---------------------------
common css ends here 
-----------------------------*/

.primary_button{
    font-family: var(--primary_font);
    padding: 13px 23px;
    color: white;
    background-color: var(--Brand_color);
    border-radius: 25px;
    transition: all linear 0.4s;
    border: 1px solid #19bf0000;
}
.primary_button:hover{
    background-color: inherit;
    border: 1px solid #1BBF00;
}
.navbar_bg{
    background-color: #160c6da1;
}
.navbar{
    z-index: 999;
    position: relative;
}

/* ---------------------------
nav bar css ends here 
-----------------------------*/

.content h1{
    font-size: 84px;
    font-family: var(--primary_font);
}
.content p{
    font-family: var(--secondary_font);
    line-height: 40px;
    font-size: 24px;
    padding: 10px 280px;
}


/* ---------------------------
 banner css ends here 
-----------------------------*/